*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.content2{
    display: flex;
    gap: 10px;
   
}
.content2  >h2{
    border: 1px solid black;
    font-weight: 400;
    padding: 5px 12px;
    border-radius: 5px;
}
nav > h2{
    width: 20;
    font-weight: 900;
    color: black;
  
}
nav > h2 > img{
    width: 100%;
    color: red;
}

/* ==============heding======== */

.hading{
    width: 100%;
    display: flex;
    /* margin: 2% 3%; */
    padding: 2% 5%;
}
.hading-left{
    width: 40%;
}
.hading-left > h1{
    font-size: 100px;
    font-weight: 540;
    line-height: 0.9;
}
 
.hading-right {
   width: 30%;
   padding-top: 18%;
   padding-left: 25%;
   /* margin: 18% 20%; */
}
.hading-right >p {
 padding-bottom: 30px ;
 font-weight: 600;
 font-size: 15px;
}

.hading-right > button {
     padding: 10px 12px;
     font-size: 15px;
     border-radius: 5px;
     border: none;
     background-color: rgb(234, 229, 229);
     color: black;
     font-weight: 600;
     }

     /*============page2===================  */

  .page-2{
    /* width: 100%; */
    gap: 15px;
    display: flex;
    margin-top: 7%;
  }
  
  .page-2 > img{
    width: 40%;
    border-radius: 110px;
    animation-name: move;
    
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes move {
    form{
        transform: translate(0);   

    }
    to{
        transform: translatex(-100%);

    }
  }